@using Plan2Day.Core.Models.Movies
@using System.Collections.Generic
@model AllBooksViewModel
@{
    var previousDisabled = Model.Paging.CurrentPage == 1 ? "disabled" : "";
    var nextDisabled = Model.Paging.CurrentPage == Model.Paging.TotalPages ? "disabled" : "";
    var booksPresent = Model.Books.Count() != 0 ? true : false;
}

<!-- Main content -->
<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Books</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row">
                @foreach (var book in Model.Books.Take(20))
                {
                    <partial name="BookPartial" model="@book"></partial>
                }
            </div>
            <!-- /.card-body -->
            @if (booksPresent)
            {
                <div class="card-footer">
                    <nav aria-label="Contacts Page Navigation">
                        <ul class="pagination justify-content-center m-0">
                            <li class="page-item col-3 text-center @previousDisabled">
                                <a class="page-link" href="@Url.Action("ManageBooks", "Book", new {page = @Model.Paging.PreviousPage})">Previous Page</a>
                            </li>
                            <li class="page-item col-2 text-center active">
                                <a class="page-link" href="#">@Model.Paging.CurrentPage</a>
                            </li>
                            <li class="page-item col-3 text-center @nextDisabled">
                                <a class="page-link" href="@Url.Action("ManageBooks", "Book", new {page = @Model.Paging.NextPage})">Next Page</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            }
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->

</section>
<!-- /.content -->