@using Plan2Day.Core.Models
@using Plan2Day.Core.Models.Movies
@model MovieEditViewModel
@{
    ViewData["Title"] = "Edit movie";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit movie</h3>
                    </div>
                    <form id="editMovie" method="post" novalidate="novalidate">
                        <div class="row">
                           <div class="col-7">
                                <input type="hidden" name="Id" value="@Model.Id">
                            <div class="card-body">
                                <div class="form-floating">
                                    <label class="form-label" for="Title">Title</label>
                                    <input class="form-control" placeholder="Title" aria-required="true" type="text" data-val="true" data-val-length="The field Title must be a string with a maximum length of 250." data-val-length-max="250" data-val-required="The Title field is required." id="Title" maxlength="250" name="Title" value="@Model.Title">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating">
                                    <label class="form-label" for="ImageUrl">ImageUrl</label>
                                    <input class="form-control" placeholder="ImageUrl" aria-required="true" type="text" data-val="true" data-val-required="The Title field is required." id="ImageUrl" name="ImageUrl" value="@Model.ImageUrl">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ImageUrl" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating">
                                    <label class="form-label" for="Year">Year</label>
                                    <input class="form-control" placeholder="Year" aria-required="true" type="text" data-val="true" id="Year" name="Year" value="@Model.Year">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Year" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-floating">
                                    <label class="form-label" for="Plot">Plot</label>
                                    <input class="form-control" placeholder="Plot" aria-required="true" type="text" data-val="true" data-val-length="The field Plot must be a string with a maximum length of 10000." data-val-length-max="10000" id="Plot" maxlength="10000" name="Plot" value="@Model.Plot">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Plot" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                           </div>
                            <div class="col-4 text-center">
                                <img src="@Model.ImageUrl" alt="user-avatar" class="img-fluid">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Edit movie</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
            </div>

        </div>

    </div>
</section>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}